.container__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .9em;
    
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.60);
}

/* .container__cards, .card,
.card_map, .div__contact {
    width: 100%;
} */

.card__header {
    background-color: var(--color-red-mk);
    color: var(--background-color);
    text-align: center;
    letter-spacing: .2em;
    padding: .4em;
}

.card__container {
    height: 160px;
    display: flex;
    /* align-items: start; */
    flex-direction: column;
    justify-content: center;
    letter-spacing: .1em;
    padding: 1em;
}

.ol__servicios {
    padding: .5em 1.7em;
}

.btn_leer {
    align-self: flex-start;
}

.span__horario {
    color: var(--color-red-mk);
    font-weight: 500;
}

.card_map {
    width: 100%;
    padding: 2em;
    background-image: url('../assets/images/ubicacion_small.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}.p__card_map {
    font-weight: 500;
    color: var(--color-black-mk);
}

.p__card_phone {
    font-size: 2em;
    font-weight: 500;
    color: var(--color-red-mk);
}

.div__contact_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    letter-spacing: .2em;
    color: #075e54;
}.div__contact_icons:nth-child(2) {
    font-size: 1.3em;
    color: initial;
}.div__contact_icons p {
    margin-left: .3em;
}

@media (min-width: 550px) { 
    .container__cards {
        font-size: 1em;
    }
}

@media (min-width: 550px) { 
    .card__container {
        justify-content: center;
        align-items: center;
    }

    .btn_leer {
        align-self: center;
    }
}

@media (min-width: 900px) {
    .container__cards {
        background-color: var(--background-color);
        position: absolute;
        flex-direction: row;
        top: -6em;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 88%;
        font-size: .7em;
    }

    .card {
        width: 25%;
        border-right: 1px solid #ccc;
    }.card:nth-child(4) {
        border: none;
    }


    .ol__servicios {
        padding: 0;
        padding-top: .5em;
        padding-left: 3em;
    }
}

@media (min-width: 1200px) { 
    .container__cards {
        font-size: .9em;
    }
}