.container__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .9em;
    width: 100%;
    
    box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.54);
}

.card {
    width: 100%;
    /* height: 230px; */
}

.card__header {
    background-color: var(--color-red-mk);
    color: var(--background-color);
    text-align: center;
    letter-spacing: .2em;
    padding: .4em;
}

.card__container {
    height: 150px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    letter-spacing: .1em;
    padding: 1em;
}

.ol__servicios {
    padding: .5em 1.7em;
}

.span__horario {
    color: var(--color-red-mk);
    font-weight: 500;
}

@media (min-width: 900px) {
    .container__cards {
        position: absolute;
        flex-direction: row;
        top: -3em;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .card {
        width: 25%;
    }
}