.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black-mk);
    color: var(--background-color);
    padding: 2.5em;
}

.footer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small__footer {
    display: block;
    font-size: .7em;
    max-width: 350px;
}

.div__social {
    margin-top: 1em;
}

.small__phone {
    display: flex;
    align-items: center;
    font-size: .8em;
}

.span__k {
    color: var(--color-red-mk);
}

@media (min-width: 800px) {  
    .footer {
        flex-direction: row-reverse;
        /* padding: 1em 2.5em .5em 1em; */
        padding: 2em 2em 1em 2em;
        /* padding-bottom: .5em; */
        justify-content: space-between;
    }

    .footer__left {
        text-align: end;
    }

    .small__phone {
        font-size: 1em;
    }

}