.header {
    margin: auto;
    height: 300px;
    /* padding: 2em; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__background {
    position: absolute;
    height: 100%;
    background-color: #ccc;
    /* background-image: url('../assets/images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    /* opacity: .7; */
    /* filter: blur(3px); */
    /* -webkit-filter: blur(3px); */
}

.header__div {
    color: var(--color-main);
    text-align: center;
}

.h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: .09em;
}

.h2 {
    font-weight: 400;
    /* font-style: italic; */
    font-size: 1.1em;
    margin-top: .8em;
    letter-spacing: .15em
} .h2 span {
    display: block;
}

.span__k, .span__m { letter-spacing: initial; }

.span__m {
    color: var(--color-black-mk);
}
.span__k {
    color: var(--color-red-mk);
}

@media (min-width: 800px) { 
    .header {
        padding: 4em;
        height: 450px;
        align-items: start;
        justify-content: flex-start;
    }

    .header__div {
        text-align: start;
    }

    .h1 {
        font-size: 4.5em;
    }

    .h2 {
        font-size: 1.5em;
        margin-top: 0;
    }

    .h2 span {
        display: inline;
    }
} 