.div__main_informacion, .info_telefono, .div__informacion {
    display: flex;
}
.div__main_informacion, .div__informacion {
    flex-direction: column;
}

.div__main_informacion {
    letter-spacing: .08em;
}

/* .div__informacion {
    padding: 1em;
} */

.div__sociales {
    margin-top: 1em;
}

.p__telefono {
    color: var(--color-red-mk);
}

.info_telefono {
    align-items: center;
    text-transform: uppercase;
}

.p__info {
    font-size: .9em;
}

@media (min-width: 500px) { 
    .div__main_informacion {
        flex-direction: row;
    }
    /* .div__informacion {
        width: 50%;
        padding: 3em;
    } */
}

@media (min-width: 800px) { 
    .div__informacion {
        justify-content: center;
    }

    .div__sociales {
        font-size: .9em;
    }

    .p__telefono, .info_telefono, .p__info {
        font-size: 1em;
    }
}


/* @media (min-width: 1000px) { 
    .div__informacion {
        padding: 3.5em 6em;
        padding-left: 8em;
    }
} */