.navbar,
.div__menu,
.div__whatsapp,
.dropbtn {
    display: flex;
    align-items: center;
}

.navbar {
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
}

.a__whatsapp,
.a__menu,
.dropbtn {
    /* color: var(--color-main); */
    color: var(--color-grey);
    text-decoration: none;
    letter-spacing: .09em;
    font-size: .93em;
    font-weight: 700;
}

.a__whatsapp {
    margin-left: .3em;
}

.a__menu,
.dropbtn {
    padding: .2em .7em;
}

.div__whatsapp {
    display: none;
}

.dropdown-content {
    font-size: .75em;
}

/* DROPDOWN */
.dropbtn {
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--color-black-mk);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

@media (min-width: 500px) {
    .navbar {
        padding: .3em;
    }
}

@media (min-width: 600px) {
    
    .div__whatsapp {
        margin-left: .5em;
        display: flex;
    }

    .navbar {
        justify-content: space-between;
    }

}

@media (min-width: 800px) {
    .navbar {
        padding: 1.2em;
        font-size: 1.3em;
    }
}