.section__servicios {
    background-color: var(--background-color2);
    color: var(--color-grey);
    padding: 1.3em;
    position: relative;
}

.div__info, .div__servicios {
    display: flex;
} .div__info {
    flex-direction: column;
}

.h3 {
    font-family: 'Anton', sans-serif;
    letter-spacing: .08em;
    margin-top: 1em;
    margin-bottom: .5em;
}

.p__servicios, .p__info {
    text-align: justify;
    font-size: .9em;
}

.hr {
    margin: .5em 0;
}

.div__servicios {
    gap: .5em;
    margin-top: 1em;
}

@media (min-width: 800px) { 

    .section__servicios {
        padding: 5em;
    }

    .h3 {
        text-align: center;
        font-size: 2.7em;
    }

    .div__servicios {
        background-color: red;
    }

    .div__info, .div__servicios {
        flex-direction: row;
    }

    .div__info {
        font-size: 1.1em;
        justify-content: space-between;
    }

    .p__servicios, .p__info {
        width: 45%;
        letter-spacing: .1em;
    }
}

@media (min-width: 800px) { 
    .h3 {
        margin-top: 3em;
    }
 }