.section__servicios {
    background-color: var(--background-color2);
    color: var(--color-grey);
    padding: 1.3em;
    position: relative;
}

.h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: .08em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.p__servicios {
    text-align: justify;
    font-size: .9em;
    letter-spacing: .15em;
    line-height: 1.7em;
}

.hr {
    margin: 2em 0;
}


@media (min-width: 800px) { 

    .section__servicios {
        padding: 5em;
        padding-bottom: 2em;
    }

    .h3 {
        text-align: center;
        font-size: 2.7em;
        margin-top: 3em;
    }

    .p__servicios {
        letter-spacing: .18em;
        font-size: 1.1em;
        max-width: 1200px;
        text-align: center;
        margin: auto;
    }
}

@media (min-width: 1000px) { 
    .h3 {
        margin-top: 5em;
    }
 }