.container__ubicacion {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color2);
}

.div__info {
    padding: 1em;
    height: 100%;
}

.p__ubicacion {
    /* margin-top: 2em; */
    margin-bottom: 1.5em;
}

.iframe {
    width: 100%;
    border: none;
    height: 400px;
}

/* HORARIO & UBICACIÓN */
.div__main_informacion, .info_telefono, .div__informacion {
    display: flex;
}
.div__main_informacion, .div__informacion {
    flex-direction: column;
}

.div__main_informacion {
    letter-spacing: .08em;
}

.div__sociales, .div__informacion {
    margin-top: 1em;
}

.p__telefono {
    color: var(--color-red-mk);
}

.info_telefono {
    align-items: center;
    /* text-transform: uppercase; */
}

.p__info {
    font-size: .9em;
}


@media (min-width: 500px) { 
    .div__main_informacion {
        flex-direction: row;
    }
}

@media (min-width: 800px) {
    .container__ubicacion {
        flex-direction: row;
    }


    .div__info {
        width: 30%;
        height: initial;
        margin: 2em;
        
        /* color: var(--background-color2); */  
        /* background-image: url('../assets/images/local_foto.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
    }

    .div__mapa {
        width: 70%;
        padding: 1em;
    }

    /* HORARIO & UBICACIÓN */
    .div__informacion {
        font-size: .9em;
        justify-content: center;
    }

    .div__sociales {
        font-size: .9em;
    }

    .p__telefono, .info_telefono, .p__info {
        font-size: 1em;
    }
}