.div__ubicacion {
    /* background-color: var(--background-color); */
    background-image: url('../assets/images/ubicacion_small.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}