* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* letter-spacing: 1.5px; */
}


.app {
  max-width: 1980px;
  min-width: 375px;
  margin: auto;
  color: var(--color-grey);
}

.text-center {
  text-align: center;
}

.subtitulo {
  font-family: 'Anton', sans-serif;
  letter-spacing: .1em;
  font-size: 1em;
}

.span_rojo {
  color: var(--color-red-mk);
  font-weight: 600;
}