@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-main: #F2F2F2;
  --color-black-mk: #2E2E2E;
  /* --color-red-mk: #ff4b4b; */
  --color-red-mk: #D91C23;
  --color-grey: #424242;

  --background-color: #e4e4e4;
  --background-color2: #fafafa;

}


:root body {
  width: 100%;
  background-color: var(--background-color);
}