.section__marcas {
    background-color: var(--background-color2);
    padding: 1em;
}

.div__marcas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.img__marca {
    margin: .3em;
    width: 2em;
}

.more_width {
    width: 2.25em;
}

.less_width {
    width: 1.1em;
}

@media (min-width: 600px) { 
    .img__marca {
        width: 5em;
    }
    
    .more_width {
        width: 5.5em;
    }
    
    .less_width {
        width: 2.8em;
    }
}

@media (min-width: 1200px) { 
    .section__marcas {
        padding: 1em 15em;
    }
}